Identification Link: Validation too strict with regard to IEC 61406

## What is the current behavior?
For VDI 2770 containers with an ObjectId of type "instance of object uri" the validator checks if a scheme is present (e.g. `http` or `https`). If not, the container will be considered invalid with Error `OI_003`

![image](https://user-images.githubusercontent.com/50442313/219302239-25a35107-1dbf-4d30-a127-8b2fd76c5082.png)

## If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem
The current behavior can be reproduced with the following example container: 
[plusmeta-VDI2770-OT-1676450298925-www.basf.com-3236721.zip](https://github.com/DigitalDataChainConsortium/vdi2770/files/10753413/plusmeta-VDI2770-OT-1676450298925-www.basf.com-3236721.zip)

The Identification Link in the example is `www.basf.com/3236721` which is a valid IEC 61406 ID
![image](https://user-images.githubusercontent.com/50442313/219302858-7000ff94-1e51-4d25-8d2a-f16a9dc5f111.png)

## What is the expected behavior?
The container is valid

## What is the motivation / use case for changing the behavior?
- Different behaviors of the DDCC validators for VDI 2770 & IEC 61406
- Incompatibility with VDI 2770 Open Toolkit
- Not according to Spec:
  - RFC 3986 section 4.5  
  - DIN SPEC 61406   
  - IEC 61406 section 4.6.1

## Example
see above



Dear Jan, you ar right. DIN SPEC 61406 as well as IEC 61406 that the scheme maybe missing. There is a very interesting note in RFC 3986 section 4.5: "The URI syntax is designed for unambiguous reference to resources and extensibility via the URI scheme.  However, as URI identification and esage have become commonplace, traditional media (television, radio, newspapers, billboards, etc.) have increasingly used a suffix of the URI as a reference, consisting of only the authority and path portions of the URI, such as www.w3.org/Addressing/ or simply a DNS registered name on its own.  Such references are primarily intended for human interpretation rather than for machines. [...] Although this practice of using suffix references is common, it should be avoided whenever possible and should never be used in situations where long-term references are expected"

Hello, 
is it possible to bring the fix online soon for the public and private container? There are now several requests on this topic. I would be very pleased. Thanks a lot.

Dear @Brezel31 : The latest public docker release is available at https://github.com/DigitalDataChainConsortium/vdi2770/pkgs/container/vdi2770/169181728?tag=0.9.12. I built the DDC specific image, too. Could you test the software, please?